<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en-us" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-3">New Company</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" method="post" th:action="@{/add-school}" th:object="${school}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address" class="col-form-label">Address</label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Address">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="employees" class="col-form-label">Employees</label>
                        <input type="text" th:field="*{employees}" class="form-control" id="employees" placeholder="Employed">
                        <span th:if="${#fields.hasErrors('employees')}" th:errors="*{employees}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <input type="submit" class="btn btn-primary" value="Add Company">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>