<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Employee Management System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>

<div class="container my-2" style="padding:30px">
    <h1> Employees Management </h1>
    <a th:href = "@{/showEmployeePage}" class="btn btn-primary btn-sm mb-3"> Employee Page </a>
</div>
<div class="container my-2" style="padding:30px">
    <h1> Students Management </h1>
    <a th:href = "@{/showStudentsForm}" class="btn btn-primary btn-sm mb-3"> Students Page </a>
</div>
<div class="container my-2" style="padding:30px">
    <h1> Schools Management </h1>
    <a th:href = "@{/showSchoolsForm}" class="btn btn-primary btn-sm mb-3"> Schools Page </a>
</div>

</body>
</html>